.idea/
sc-admin/target/
sc-admin/*.iml

sc-config-server/target/
sc-config-server/*.iml

sc-dashboard/target/
sc-dashboard/*.iml

sc-eureka/target/
sc-eureka/*.iml

sc-order/target/
sc-order/*.iml

sc-shop/target/
sc-shop/*.iml

sc-tech/target/
sc-tech/*.iml

sc-utils/target/
sc-utils/*.iml

sc-zuul/target/
sc-zuul/*.iml

